.todoFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoFormContainer input {
  max-width: 70%;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  outline: none;
  background-color: #282828;
  caret-color: #282828 ;
}

.todoFormContainer input:hover {
  background-color: white;
  box-shadow: gray 0px 3px 3px;
}

input::placeholder {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

button {
  text-shadow: gray 0px 2px 5px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  box-shadow: gray 0px 3px 3px;
}
.buttonHidden {
  visibility: hidden;
}
