.todoFormContainer {
  margin-bottom: 30px;
}
.todoFormContainer input {
  /* height: 3em; */
  border-radius: 5px;
  margin-right: 1em;
  font-size: 1.5rem;
  outline:none;
  
}

input::placeholder {
  font-size: 1.2rem;
  text-align: center;
}

button {
  /* height: 3em; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}
